body {
    background-color: #a6b4a9ce;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px;
    max-width:100%;
    border:solid;
    border-color:#a6b4a9ce;
    font-size:100%;
    }

    * {box-sizing: border-box;
    }

header {
    background-color: #212e24ce;
    display:block;
    color:#FFFFFF;
    text-align:center;
}
    header h1 {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    
h1 {
     font-size: 2rem;
    margin: 0px;
 }
h2 {
    font-size: 1.5rem;
    margin: 0px;
    text-align:center;
    color: #212e24ce;
}

nav {
    display:block;
    width:100%
}
nav a:link, nav a:visited {
    display: block;
    border-bottom: 3px solid #ffffff;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
    color:#212e24ce;
}
nav a:hover {
    color: white;
    background-color: #000000;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    width: 100%;
    }

section {
    display: block;
    width: 100%;
    background-color:white;
    margin: 3px;
    padding: 1px;
    border-radius: 10px;
    }
section h2 {
    border-radius: 10px;
    padding: 5px;
    font-size: 1rem;
    }
section p {
    font-size: 0.9rem;
    text-align:center;
    }
table{
    display: center;
    margin: auto;
    width:80%;
    border-collapse: collapse;
}
td {
    text-align: center;
  }
  th, td {
    padding: 2px;
  }
  th {
    background-color: #212e24ce;
    color: white;
  }

 aside{
    display:none;
    width:20%;
    float:left;
    }
    aside h3 {
    margin: 15px;
    color: #212e24ce;
    }
    aside p {
    margin: 15px;
    color: #777777;
    font-weight: bold;
    font-size: 0.8rem;
    font-style: italic;
}

#container {
    background-color: none;
}
footer {
    clear: both;
    display: block;
    background-color: #212e24ce;
    color:#FFFFFF;
    text-align:center;
    padding: 15px;
}
footer h2 {
    font-size: 0.8rem;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}
iframe, video {
    width: 100%;
    height: auto;
    display: center;
    }

.mySlides {
    display: none;
    text-align: center;
    }
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    text-align: center;
    display: none;
    }
.dot {
    height: 13px;
    width: 13px;
    margin: 0.2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
    }
.dotpoints {
    text-align: center;
    position: absolute;
    bottom: 10%;
    left: 45%;
    }
.active {
    background-color: #717171;
    }

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
     }

    @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
    }       

    #tabletPC {
    display: none;
    }
    svg {
    width: 40px;
    }
    #menu_icon {
    display: block;
    cursor: pointer;
    padding: 0px;
    position: absolute;
    left: 10px;
    z-index: 1000;
    }

    #drawer {
    display: block;
    background-color: #91a796;
    height: 100%;
    width: 60%;
    position: absolute;
    transition: all 0.2s linear;
    transform: translateX(-100%);
    top: 0px;
    border-radius: 10px;
    opacity: 0.95;
    }
    #drawer.open {
    transform: translateX(0);
    }



@media only screen and (min-width: 768px) {
    .col-3 {
        width: 25%;
        float: left;
    }
    .col-9 {
         width: 75%;
        float: left;
        padding: 15px;
    }
    #menu_icon {
        display: none;
        }
        #drawer {
        display: none;
        }
        #tabletPC {
        display: block;
        }
}
   

@media only screen and (min-width: 900px) {
    aside {
        display: block;
    }
    .col-2{
        width: 16.66%;
        float: left;
    }
    #container {
        width: 58.33%;
    }
    .slideshow-container {
        display: block;
        }
}

